.topic {
  .posts {
    .post {
      margin: 0 0 20px 0;
      border-radius: 8px;
      background-color: rgba($white, 1);
      box-shadow: $black 1px 1px 4px;
      .post-header {
        .post-hrp-infos {
          padding: 2px 8px;
          border-bottom: solid rgba($black, 0.6) 2px;
          background-color: rgba($black, 0.7);
          color: rgba($white, 1);
          font-weight: bold;
          a {
            color: rgba($white, 0.8);
            transition: all 0.1s ease-out;
            &:hover {
              color: rgba($white, 1);
            }
          }
        }
        .post-rp-infos {
          background-color: rgba($black, 0.3);
          .character-avatar {
            display: inline-block;
            box-shadow: 1px 1px 1px $black;
            padding: 8px;
            border: solid rgba($black, 0.6) 2px;
            background-color: rgba($black, 0.7);
            img {
              max-width: 8rem;
              border-radius: 8px;
              border: 2px solid rgba($black, 0.3);
            }
          }
          .character-infos {
            display: inline-block;
            .character-name {
              display: block;
              font-size: 1.6em;
            }
          }
        }
      }
      .post-content {
        padding: 12px 18px;
        transition: all 0.6s ease;
        &:hover {
          background-color: rgba($black, 0.8);
          color: $white;
        }
      }
    }
  }
}