
###> symfony/framework-bundle ###
.env
/public/bundles/
/public/build/css/
/public/build/fonts/
/public/build/images/
/public/build/js/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> app ###
/node_modules/
/submodules/
###< app ###

###> local ###
/.idea/
###< local ###
###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
