
###> symfony/framework-bundle ###
.env
/public/bundles/
/public/build/css/
/public/build/fonts/
/public/build/images/
/public/build/js/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> app ###
/node_modules/
/submodules/
/tests/coverage/
###< app ###

###> local ###
/.idea/
###< local ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
