<?xml version="1.0" encoding="utf-8"?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <php>
        <!-- the value is the FQCN of the application kernel -->
        <env name="KERNEL_CLASS" value="App\Kernel" />

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <!-- Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
        <!-- For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db" -->
        <!-- Configure your db driver and server_version in config/packages/doctrine.yaml -->
        <env name="DATABASE_URL" value="mysql://dev:dev@172.20.0.3:3306/akisroc"/>
        <!-- ###- doctrine/doctrine-bundle ### -->
    </php>
    <!-- ... -->
</phpunit>