body {
  height: 100vh;
  background-image: linear-gradient(315deg, $color-light-gray 0%, $color-cream 100%);
  background-attachment: fixed;
  font-family: "Libertinus Serif", "Helvetica", "serif";
}

::selection {
  background-color: rgba($color-light-primary, 0.4);
  color: $color-dark-primary;
}
