button {
  padding: 8px 6px;
  background-color: $color-light-primary;
  font-family: "Libertinus Sans", "sans-serif";
  font-weight: bold;
  font-size: 1.4rem;
  color: $color-cream;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $color-dark-primary;
  }
}
