$header-padding: 0 10px 10px 10px;
$menu-height: 45px;

header.main-header {
  background-color: rgba($sand, 0.8);
  // box-shadow: $black 2 2 3;
  box-shadow: 1px 1px 4px rgba($black, 0.7);

  h1 {
    color: $white;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    transition: all 0.1s ease;
    &:hover {
      color: rgba($black, 0.9);
    }
  }
  .header-menu {
    position: fixed;
    top: 0;
    height: $menu-height;
    width: 100%;
    padding: 10px;
    background-color: rgba($black, 0.4);

    a {
      color: $white;
      @include smooth-underline($white);
    }
  }

  .header-title {
    padding: $menu-height 10px 10px 10px;
  }
}