body {
  background-image: url("images/bg.jpg");
  background-attachment: fixed;
  background-position: center;

  a {
  	text-decoration: none;
    //font-weight: bold;
  	color: rgba($black, 0.8);
    transition: all 0.1s ease-in-out;
    &:hover {
      color: rgba($black, 1);
    }
  }

  section {
  	padding: 8px;
  }

  ul {
    padding: 4px;
    li {
      padding: 12px 8px;
      border-bottom: 1px solid rgba($black, 0.2);
      transition: all 0.1s ease-out;
      &:first-child {
        border-top: 1px solid rgba($black, 0.2);
      }
      &:hover {
        background-color: rgba($black, 0.1);
      }
    }
  }

  ::-webkit-selection {
    background-color: rgba($black, 0.9);
    color: rgba($white, 0.9);
  }

  @import "globals/forms";
  @import "globals/titles";
  @import "header/header";
  @import "main/main";
}