body {
  background-image: url("images/bg.jpg");
  background-attachment: fixed;
  background-position: center;

  a {
  	text-decoration: none;
  	color: inherit;
  }

  section {
  	padding: 8px;
  }

  ::-webkit-selection {
    background-color: rgba($black, 0.9);
    color: rgba($white, 0.9);
  }

  @import "globals/forms";
  @import "globals/titles";
  @import "header/header";
  @import "main/main";
}