legend {
  padding: 8px 30% 8px 10px;
  border-bottom: 2px solid rgba($black, 1);
  font-size: 1.2em;
  font-weight: bold;
}
fieldset {
  padding: 12px 12px 40px 12px;
}
input, textarea {
  display: block;
  width: 40%;
  padding: 6px 4px;
  border: 1px solid transparent;
  border-radius: 2px;
  border-bottom: 1px solid rgba($black, 1);
  background-color: transparent;
  font-size: 1.1em;
  font-weight: bold;
  transition: all 0.2s ease-out;
  // @Todo Autoprefixer
  &::-webkit-input-placeholder {
    color: rgba($white, 0.3);
  }
  &:focus {
    padding: 6px 12px;
    border-bottom: 1px solid rgba($white, 1);
    border-radius: 12px;
    color: $white;
  }
  &:focus::-webkit-input-placeholder {
    color: rgba($white, 0.2);
  }
  &:hover {
    border-bottom: 1px solid rgba($black, 0.4);
  }
  &:focus:hover {
    border-bottom: 1px solid rgba($white, 1);
  }
}
select {
  padding: 4px 0;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  background-image: none;
  background-color: rgba($black, 0);
  appearance: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s ease-out;
  &:hover {
    background-color: rgba($black, 0.1);
  }
  &:focus {
    background-color: rgba($black, 0.4);
    color: $white;
  }
}
button {
  padding: 8px 8px 3px 8px;
  border: none;
  border-bottom: 2px solid rgba($black, 1);
  box-shadow: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    padding: 8px 10px 3px 10px;
    border-radius: 8px;
    border-bottom: 2px solid rgba($white, 1);
    color: rgba($white, 1);
  }
}