h1 {
  padding: 10px;
  font-size: 2em;
}
h2 {
  padding: 8px;
  font-size: 1.8em;
}
h3 {
  padding: 6px;
  font-size: 1.6em;
}
h4 {
  padding: 4px;
  font-size: 1.4em;
}
h5 {
  padding: 2px;
  font-size: 1.2em;
}