body {
  background-image: url("images/bg.jpg");

  .color-danger { color: $color-danger; }
  .color-warning { color: $color-warning; }
  .color-info { color: $color-info; }
  .color-success { color: $color-success; }

  a {
  	text-decoration: none;
  	color: inherit;
  }

  section {
  	padding: 8px;
  }

  h1 {
  	padding: 10px;
  	font-size: 2em;
  }
  h2 {
  	padding: 8px;
  	font-size: 1.8em;
  }
  h3 {
  	padding: 6px;
  	font-size: 1.6em;
  }
  h4 {
  	padding: 4px;
  	font-size: 1.4em;
  }
  h5 {
  	padding: 2px;
  	font-size: 1.2em;
  }
}