body {
  background-image: url("images/bg.jpg");

  .color-danger { color: $color-danger; }
  .color-warning { color: $color-warning; }
  .color-info { color: $color-info; }
  .color-success { color: $color-success; }

  a {
  	text-decoration: none;
  }
}