// Variables

$white: #f7f0f0;
$light-gray: #b4a7a6;
$gray: #484848;
$black: #150E0E;
$sand: #bba992;

$color-danger: #5D1110;
$color-warning: #B07c30;
$color-info: #3D3BCB;
$color-success: #289220;

$color-doomed: #FF4D46;