<!DOCTYPE html>
<html>

  <head>
    <meta name="language" content="fr-FR" />
    <meta charset="UTF-8">
    <title>{% block title %}Akisroc{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
  </head>

  <body>

    {# HEADER #}
    <header class="grid-x">
      <nav class="header-menu right cell grid-x">
        <span class="small-offset-6 small-4 medium-offset-8 medium-2 large-offset-10 large-1 cell">
          <a href="#">Se connecter</a>
        </span>
        <span class="small-4 medium-2 large-1 cell">
          <a href="#">S'inscrire</a>
        </span>
      </nav>
      <div class="header-title">
        <a href="{{ path('homepage') }}">
          <h1 class="cell">
            Akisroc
          </h1>
        </a>
      </div>
    </header>
    {# END HEADER #}

    {# CONTENT #}
    <main>
      {% block body %}{% endblock %}
    </main>
    {# END CONTENT #}

    {# FOOTER #}
    <footer>
    </footer>
    {# END FOOTER #}

    {# SCRIPTS #}
    {% block javascripts %}
      <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
    {# END SCRIPTS #}

  </body>

</html>
