{% extends 'base.html.twig' %}

{% block body %}
  <input type="text" placeholder="Recherche...">
  {% for categoryL1 in categories %}
    <section class="category">
      <h2>{{ categoryL1.title }}</h2>
      {% for categoryL2 in categoryL1.children %}
        <section class="category">
          <h3>{{ categoryL2.title }}</h3>
          {% for categoryL3 in categoryL2.children %}
            <section class="category grid-x">
              <a href="#" class="description small-9 cell">
                <h4><span class="fa fa-book"></span>{{ categoryL3.title }}</h4>
                <p>{{ categoryL3.description }}</p>
              </a>
              <a href="#" class="last-post small-3 cell">
                <h5>Lorem ipsum dolor.</h5>
                <p>Par Ec'bêl</p>
                <p>Le 3 décembre 2017 à 11h18</p>
              </a>
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </section>
  {% endfor %}
{% endblock %}