{% extends 'base.html.twig' %}

{% block body %}
  <section>
    <h2>RP</h2>
    <section>
      <h3>Akisroc</h3>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>Place Frozell</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>Quartier Merkin</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>Ville basse</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>Grande bibliothèque</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
    </section>
    <section>
      <h3>Dragostina</h3>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>Vie en Dragostina</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
    </section>
  </section>

  <section>
    <h2>HRP</h2>
    <section>
      <h3>Discussions</h3>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>En vrac</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>IRL</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
    </section>
    <section>
      <h3>Organisation du RP</h3>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>Propositions de scénarii</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>Autour du RP</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
    </section>
    <section>
      <h3>Le jeu</h3>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>Proposer une amélioration</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
      <a href="#">
        <section>
          <h4><span class="fa fa-book"></span>Reporter un bug</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </section>
      </a>
    </section>
  </section>
{% endblock %}