{% extends 'base.html.twig' %}

{% block body %}
  <input type="text" placeholder="Recherche...">
  <section class="category">
    <h2>RP</h2>
    <section class="category">
      <h3>Akisroc</h3>
        <section class="category grid-x">
          <a href="#" class="description small-9 cell">
            <h4><span class="fa fa-book"></span>Place Frozell</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
          </a>
          <a href="#" class="last-post small-3 cell">
            <h5>Lorem ipsum dolor.</h5>
            <p>Par Ec'bêl</p>
            <p>Le 3 décembre 2017 à 11h18</p>
          </a>
        </section>
        <section class="category grid-x">
          <a href="#" class="description small-9 cell">
            <h4><span class="fa fa-bookmark-o"></span>Quartier Merkin</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
          </a>
          <a href="#" class="last-post small-3 cell">
            <h5>Lorem ipsum dolor.</h5>
            <p>Par Ec'bêl</p>
            <p>Le 3 décembre 2017 à 11h18</p>
          </a>
        </section>
        <section class="category grid-x">
          <a href="#" class="description small-9 cell">
            <h4><span class="fa fa-bookmark-o"></span>Ville basse</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
          </a>
          <a href="#" class="last-post small-3 cell">
            <h5>Lorem ipsum dolor.</h5>
            <p>Par Ec'bêl</p>
            <p>Le 3 décembre 2017 à 11h18</p>
          </a>
        </section>
      <section class="category grid-x">
        <a href="#" class="description small-9 cell">
          <h4><span class="fa fa-book"></span>Grande bibliothèque</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </a>
        <a href="#" class="last-post small-3 cell">
          <h5><span class="fa fa-arrow-circle-o-up"></span>&nbsp;Aucun message</h5>
        </a>
      </section>
    </section>
    <section class="category">
      <h3>Dragostina</h3>
      <section class="category grid-x">
        <a href="#" class="description small-9 cell">
          <h4><span class="fa fa-bookmark-o"></span>Vie en Dragostina</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </a>
        <a href="#" class="last-post small-3 cell">
          <h5>Lorem ipsum dolor.</h5>
          <p>Par Ec'bêl</p>
          <p>Le 3 décembre 2017 à 11h18</p>
        </a>
      </section>
    </section>
  </section>

  <section class="category">
    <h2>HRP</h2>
    <section class="category">
      <h3>Discussions</h3>
      <section class="category grid-x">
        <a href="#" class="description small-9 cell">
          <h4><span class="fa fa-bookmark-o"></span>En vrac</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </a>
        <a href="#" class="last-post small-3 cell">
          <h5>Lorem ipsum dolor.</h5>
          <p>Par Ec'bêl</p>
          <p>Le 3 décembre 2017 à 11h18</p>
        </a>
      </section>
      <section class="category grid-x">
        <a href="#" class="description small-9 cell">
          <h4><span class="fa fa-bookmark-o"></span>IRL</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </a>
        <a href="#" class="last-post small-3 cell">
          <h5>Lorem ipsum dolor.</h5>
          <p>Par Ec'bêl</p>
          <p>Le 3 décembre 2017 à 11h18</p>
        </a>
      </section>
    </section>
    <section class="category">
      <h3>Organisation du RP</h3>
      <section class="category grid-x">
        <a href="#" class="description small-9 cell">
          <h4><span class="fa fa-bookmark-o"></span>Propositions de scénarii</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </a>
        <a href="#" class="last-post small-3 cell">
          <h5>Lorem ipsum dolor.</h5>
          <p>Par Ec'bêl</p>
          <p>Le 3 décembre 2017 à 11h18</p>
        </a>
      </section>
      <section class="category grid-x">
        <a href="#" class="description small-9 cell">
          <h4><span class="fa fa-bookmark-o"></span>Autour du RP</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </a>
        <a href="#" class="last-post small-3 cell">
          <h5>Lorem ipsum dolor.</h5>
          <p>Par Ec'bêl</p>
          <p>Le 3 décembre 2017 à 11h18</p>
        </a>
      </section>
    </section>
    <section class="category">
      <h3>Le jeu</h3>
      <section class="category grid-x">
        <a href="#" class="description small-9 cell">
          <h4><span class="fa fa-bookmark-o"></span>Idées</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </a>
        <a href="#" class="last-post small-3 cell">
          <h5>Lorem ipsum dolor.</h5>
          <p>Par Ec'bêl</p>
          <p>Le 3 décembre 2017 à 11h18</p>
        </a>
      </section>
      <section class="category grid-x">
        <a href="#" class="description small-9 cell">
          <h4><span class="fa fa-bookmark-o"></span>Bugs</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, dolores!</p>
        </a>
        <a href="#" class="last-post small-3 cell">
          <h5>Lorem ipsum dolor.</h5>
          <p>Par Ec'bêl</p>
          <p>Le 3 décembre 2017 à 11h18</p>
        </a>
      </section>
    </section>
  </section>
{% endblock %}