{% extends 'base.html.twig' %}

{% block body %}
  {# TODO: To be improved #}
  <h1>Akisroc - {{ app_version() }}</h1>
  <p><a href="https://github.com/Adrien-H/Akisroc" target="_blank" ><span class="fa fa-github"></span> Code source du projet</a></p>
  {{ changelog | raw }}
{% endblock %}