.places, .categories {
  h2 {
    padding: 8px 0 8px 4px;
    width: 100%;
    border-bottom: 1px solid $color-dark-primary;
    font-size: 3rem;
  }
  .place, .category {
    display: block;
    padding: 20px 0;
    font-size: 2rem;
    color: $color-cream;
    transition: all 0.1s ease-in-out;
    h3 {
      font-size: 3rem;
      padding-left: 8px;
    }
    &:nth-child(even) { background-color: $color-primary; }
    &:nth-child(odd) { background-color: $color-secondary; }
    &:hover { transform: scale(1.02); }
  }
}
